.edit-btn{
   margin-left: 150px;
}
.fa-trash{
    margin-top: auto;
}

.container {
    margin: 0;
}


#all-movies {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-style: none;
}


#jumbotron {
    background-color: transparent;
}

#cards {
    background-color: transparent;
    /*color: white ;*/
    border-style: solid;
}


#list-group-item {
    background-color: transparent;
}

#add-a-movie {
    float: right;
    width: 12rem;
}


#plot-box {
    overflow: auto;
    height: 8em;
    width: 10em;
}


#card-btns {
    background: none;
    /*color: white;*/
    border-style: none;
    width: 0;
}


/* nav bar*/
* {
    box-sizing: border-box;
}

body {
    margin: auto;
}

.navbar {

    background-color: grey;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    padding-top: 20px;
    padding-left: 0;
    margin: 0;
   font-family: Times;
}

.list {
    width: 315px;
}

.anchor {
    text-decoration: none;
    color: black;
    margin: 20px;
}

.Middle-Logo {
    margin: 0 auto;
    font-family: Verdana, serif;
}

.image-links {
    display: flex;
    align-content: space-between;
    width: 315px;
}

.image-links p {
    margin: 1em;
    padding-top: 0;
}